@page "/"

<h1>Hello, To COVID-19 Blazor</h1>

<p>
    This Website is A Personal Project While Learning The Blazor Framework.
</p>

<p>
    What Blazor Allows Developers To Do Is have A Nearly Javascript Free Development Experience.<br>
    <strong>How ?</strong> You May Ask 
    By Using The New Web Standard <a href="https://webassembly.org/">Web Assembly</a>
    <br>
    <br>
    Which Allows Developers To Rn Different Programming Langugaes On The Browser.?
    And From These Programming Languages Comes C# And Its Implementation Of Web Assembly "Blazor"
</p>